h1 {
    color: blueviolet;
}

img {
    width: 400px;
 }

.thirdDiv {
    width: 600px;
    height: 500px;
    color: blue;

}

#spanId {
    font-size: 18px;
    margin: 50px;

}

#thirdDiv {
    padding: 50px;
    border: 5px black;
}
